body {
  font-family: "Open Sans", arial, sans-serif;
  color: #494d55;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1000px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

a {
  color: #43a2ca;
}

a:hover {
  text-decoration: underline;
  color: rgb(51, 149, 151);
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

#contact_top ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}

#contact_top ul a {
  color: #494d55;
}

.card {
  margin-left: 200px;
  background-color: #e5e5e5;
  margin: 10px;
  padding: 10px;
  text-align: left;
  line-height: 1;
}

.job_info {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #494d55, #ccc);
}

.wrapper {
  margin-left: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
}

.profile_image {
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 70%) inset;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  background-color: #43a2ca;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #494d55;
  color: white;
}

.content {
  margin-left: 200px;
  height: 1000px;
}

.main-content {
  padding-left: 20px;
}

footer {
  width: 100%;
  line-height: 100px;
  height: 100px;
  background-color: #494d55;
  align-content: center;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: none;
  }
  div.content {
    margin-left: 0;
  }
}
